src
test
tsconfig.json
tsconfig.module.json
tslint.json
.travis.yml
.github
.prettierignore
.vscode
build/docs
**/*.spec.*
coverage
.nyc_output
*.log
build/main/dev
build/module/dev
build/main/dev
build/main/template
build/module/template
